#aboutSection {
    margin-top: 200px;

    padding: 300px 40px;

    h5 {
        font-family: 'General Sans', sans-serif;
        font-size: 22px;
    }
    p {
        font-family: 'General Sans', sans-serif;
        font-size: 70px;
    }
}