#aboutSection {

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 0 40px;


    h5 {
        font-family: 'General Sans', sans-serif;
        font-size: 22px;
    }
    p {
        font-family: 'General Sans', sans-serif;
        font-size: 70px;
    }
}