#headerSection {

    display: flex;


    ul {
        position: absolute;
        left: -160px;
        top: 150px;
        margin-left: 40px;
        
        li {
            position: absolute;
            left: -160px;
            font-family: 'General Sans', sans-serif;
            letter-spacing: 3px;
            font-size: 1.5em;
            font-weight: 400;
            transition: left 0.3s ease-in-out;

            &.open {
                position: relative;
                left: 160px;
            }
        }

    }

    div {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

            h1 {
                font-family: 'Bai Jamjuree', sans-serif;
                text-align: center;
                font-size: 20vw;
                // border: 1px solid red;
                height: 350px;
                overflow-y: hidden;
                
                &:nth-child(1) {
                    // transform: translateY(300px);
                }
            }
    }

    // h1{
    //     position: absolute;
    //     bottom: 50px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     text-align: center;
    //     line-height: 300px;
    //     font-family: 'Bai Jamjuree', sans-serif;

    //     font-size: 20vw;
    //     text-transform: uppercase;
    //     border: 1px solid;
    // }
}