
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap'); // SYNCOPATE.

$font: 'Syncopate', sans-serif;


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;


    div {

        text-transform: uppercase;
        font-size: 3em;
        color: darkgray;
        // font-family: $font;
        font-family: 'General Sans', sans-serif;
        font-weight: 500;

        &:nth-child(2) {
            color: black;
        }
    }
}