$bg_color: #f5f0ec;

*, ::before, ::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: $bg_color;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    section {
        width: 100vw;
        height: 100vh;
        // border: 1px solid red;
    }
}